/* Reset CSS */
body{
    font-family: 'Work Sans', sans-serif;
    background: #ffffff;
    overflow-x: hidden;
    color: #333;
}
*{
    box-sizing: border-box;
}
body,div,h1,h2,h3,h4,h5,h6,p,img,ul,ol,li,form,input,select,option,textarea{
    margin: 0;
    padding: 0;
}
img,input,select,textarea{
    border: 0;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.cf::after,.cf::before{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    *zoom: 1;
}

/* general CSS */
#header,#main,#footer{
    width: 100%;
    max-width: 1170px;
    min-width: 768px;
    margin: 0 auto;
}
hr{
    color: #ccc;
}

/* header CSS */
#header{
    margin-top: 80px;
}
#logo{
    float: left;
}
#nav ul{
    float: right;
} 
#nav li{
    display: inline-block;
}   
.active{
    color: rgb(37, 35, 35);
}
#nav a:link{
    display: inline-block;
    text-align: center;
    padding: 5px 40px;
}
#nav a:hover{
    color: rgb(10, 10, 10);
}

/* index css */
#main{
    margin-top:80px;
    margin-bottom: 50px; 
}
.content h3{
    font-size: 32px;
    font-style: normal;
    text-align: center;
}
.content hr{
    width: 82px;
    margin-top: 32px; 
}
.content{
    margin-top: 50px;
    margin-bottom:80px; 
}
.gls{
    float:left;
    position: relative;
    margin: 10px 1.5%;
    width: 30.3333%;
}
.gls img{
    display: block;
    width: 100%;
}
.cover{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.center h4{
    text-align: center;
}
.center p{
    text-align: center;
    text-transform: uppercase;
}
.cover:hover{
    opacity: 0.8;
    color: #ffffff;
}
.content p{
    text-align: center;
    font-size: 30px;
}

/* studio css */
#studio-content p,#studio-content h3{
    text-align: center;
    font-size: 32px;
    line-height: 60px;
    font-style: normal;
    font-weight: lighter;
    color: rgb(59, 56, 56);
}
.bkg,#info,#list ul{
    float: left;
}
.bkg{
    width:60% 
}
.bkg img{
    width: 100%;
}
#info{
    margin: 0 5%;
    width: 30%;
}
#info h1{
    font-size: 70px;
    font-weight: normal;
}
.text{
    margin-top: 20px;
    line-height: 30px;
}
#intro{
    margin-bottom:50px;
}
#list{
    margin-top:50px;
}
#list ul{
    margin: 0 6%;
}
.title{
    font-size: 30px;
    font-weight:lighter;
    margin-bottom:10px;
}
.item{
    list-style-type:disc;
    list-style-position:inside;
    line-height:30px;
}

/* blog css */
.borad{
    padding: 50px 0;
    border-bottom:1px solid #ccc;
}
.borad:last-of-type{
 border: none;
}
.img{
    width:100%;
}
.img img{
    width:100%;
}
.blog-intro{
    margin-top: 50px;
}
.blog-info{
    padding-right: 12px;
    margin-top: 22px;
    color: #333;
}
.blog-info img{
    width: 42px;
    border-radius:50%; 
    vertical-align: middle;
}
.blog-title{
    margin-bottom: 10px; 
}
.text{
    margin-bottom:50px; 
    color: #777;
}
.btn{
    display: inline-block;
    font-size: 14px;
    padding: 14px 28px;
    border-radius: 100px;
    border:1px solid #ccc;
    background-color: #ffffff;
    color: #777;
    transition: all 0.4s ease-in-out;
}
.btn:hover{
    background-color: #000;
    color: #ffffff;
}


/* contact CSS */
.figure{
    margin: 100px 0;
}
.row-2,.row-1,.row-text{
    float: left;
    padding-right:15px; 
}
.contact-info{
    width: 100%;
    padding: 6px 12px;
    margin: 10px 0;  
    border-radius: 4px; 
    border: 1px solid #f0f0f0;
    font-size: 14px;
    overflow: hidden;
}
form input, select{
    height: 50px;
}
.row-text{
    width: 100%;
}
.row-1{
    width: 25%;
}
.row-2{
    width: 50%;
}
.row-1 input{
    background-color: #222;
    color: #f0f0f0;
    border-radius: 100px;
}
.row-1 input:hover{
    background-color: #000;
    cursor: pointer;
}



/* footer CSS */
#footer{
    margin-top: 80px;
}
#footer p{
    font-size: 20px;
    color: #333;
}
#footer img{
    float: left;
    margin-right: 150px;
}
.con{
    margin:0 30px;
    width: 30%;
    float: left;
}
.massage{
    float: left;
    margin-top: 100px;
}
.app{
    margin-top: 100px;
    color: #333;
    float: right;
}
